//Variables
$font: sans-serif, helvetica, arial, helvetica;
$color-background: #ccc;
$color-letra: #175f37;

@mixin imagenes() {
    width: 1.5vw;
    height: 3vh;
    float: left;
}

//uso de las variables
// body{
//     background-color: $color-background;
// }
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse; //valor por defecto 'separated' lo cual genera que los bordes de cada elemento de la tabla se encuentren separados por un espacio en blanco
    text-align: center;
    background-color: $color-background;
        tr,th{
            padding: 0.5rem;
        }
        tr:nth-child(2n+2){
            background-color: #ffffcc;
        }
        .moneda{
            background-color: #e6f3ff;
        }
        th{
            img{
                @include imagenes();
            }
        }
}