@import 'encabezado';
@import 'tipo_de_cambio';
@import 'contenido_tabla';

.encabezado{
    @include encabezado(center,rgba(175, 189, 216,.2),arial,black,5px);
}
.encabezado_lateral{
    @include encabezado_lateral(left,rgba(119, 218, 208,0.3),arial,black,5px);
}
td{
    @include contenido(center,arial,rgb(7, 7, 7),5px); 
}
.tabla_borde{
    @include tabla(collapse);
}

// etilos de imagenes svg
//euro
.icon-euro2{
    color: #CFD846;
    font-size: 20px;
}
//dolar
.icon-dollar{
    color: #2d3c80;
    font-size: 20px;
}
//dolar
.icon-libra-esterlina{
    color: #2d3c80;
    font-size: 20px;
}
//yen
.icon-yen{
    color: #2d3c80;
    font-size: 20px;
}
//posicionamiento tabla
table{
    margin: 100px auto;
}





    
   